body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}

/* Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.17;
}

span {
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
}

.page-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.page-nav .link,
.page-nav .link-line {
  padding: 24px 0;
  display: block;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

.page-nav .link-line:hover,
.page-nav .link-line:focus {
  color: #404bbf;
}
.page-nav .link-line:active {
  text-decoration: underline;
}

.address-list {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
}
.contacts-list .link {
  color: #434455;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: #404bbf;
}

/* Main */

.hero {
  background-color: #2e2f42;
}

.hero-wrap {
  display: block;
  text-align: center;
  padding: 188px 0;
}
.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  font-weight: 700;
  margin: 0 auto;
  max-width: 496px;
}

.hero-button {
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  border: none;
  margin-top: 48px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Hidden "Our Features*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Features-list */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-text {
  margin-top: 8px;
}

/* Team Section */
.team-container {
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.team-title {
  padding-bottom: 72px;
}
.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.image-container {
  padding: 32px 16px;
}

.team-name {
  padding-bottom: 8px;
}

.team-section {
  background-color: #f4f4fd;
}

.team-section h2 {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
}
.team-section ul li {
  background-color: #ffffff;
}
.team-section ul h3,
.team-section ul p {
  text-align: center;
}

/* Portfolio */
.portfolio-container {
  padding: 120px 0;
}

.post-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list {
  width: calc((100% - 48px) / 3);
}
.post-subtitle {
  padding-bottom: 72px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-weight: 700;
}

.image-portfolio-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

/* Footer */

footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-section .logo {
  color: #f4f4fd;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-text {
  max-width: 264px;
}

.footer-logo {
  padding-bottom: 16px;
}
/* Global h and p */
h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
